@model DetalharSalaViewModel

@{
    ViewBag.Title = "Detalhamento de Sala";
}

<div class="container bd-highlight">
    <div class="row">
        <div class="col card m-5 p-4 gap-2 shadow rounded bg-dark text-white">
            <div class="d-flex justify-content-between">
                <h1>@ViewBag.Title</h1>
                <a class="btn btn-secondary ps-3 align-content-center" href="/sala/listar">
                    <i class="bi bi-arrow-return-left me-1"></i> Voltar
                </a>
            </div>

            <div class="list-group">
                <partial name="_Pattern" model="Model"></partial>

                <div class="mt-4 d-flex flex-column align-items-center">
                    <h5>Assentos</h5>
                    <div class="d-flex flex-column">
                    <partial name="@ViewBag.layoutSala" model="@Model" ></partial>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {

                checkbox.addEventListener('change', function () {

                    const cardDiv = document.getElementById('teste-' + this.id.replace('checkbox-', ''));

                    cardDiv.classList.toggle('bg-success', !this.checked);
                    cardDiv.classList.toggle('bg-danger', this.checked);
                });

                const cardDiv = document.getElementById('teste-' + checkbox.id.replace('checkbox-', ''));

                cardDiv.addEventListener('click', function () {

                    checkbox.checked = !checkbox.checked;

                    const cardDiv = document.getElementById('teste-' + checkbox.id.replace('checkbox-', ''));

                    cardDiv.classList.toggle('bg-success', !checkbox.checked);
                    cardDiv.classList.toggle('bg-danger', checkbox.checked);
                });
            });
        });

    </script> *@