@model DetalharFilmeViewModel
@{
    ViewBag.Tittle = "Detalhamento do filme";
}

<div class="container bd-highlight">
    <div class="row">
        <div class="col card m-5 p-4 gap-2 shadow rounded bg-dark text-white">
            <div class="d-flex justify-content-between align-items-center">
                <h1>@ViewBag.Title</h1>
                <a class="btn btn-secondary" href="/filme/listar">
                    <i class="bi bi-arrow-return-left me-1"></i> Voltar
                </a>
            </div>

            <div class="list-group">
                <partial name="_Pattern" model="Model"></partial>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-4">
                <a class="btn btn-primary" href="/filme/editar/@Model.Id">
                    <i class="bi bi-pencil-square me-1"></i> Editar
                </a>
                <a class="btn btn-danger" href="/filme/excluir/@Model.Id">
                    <i class="bi bi-trash me-1"></i> Excluir
                </a>
            </div>
        </div>
    </div>
</div>
