@model DetalharFilmeViewModel
@{
    ViewBag.Tittle = "Detalhamento do filme";
}

<div class="container bd-highlight">
    <div class="row">
        <div class="col card m-5 p-4 gap-2 shadow rounded bg-dark text-white">
            <div class="d-flex justify-content-between">
                <h1>@ViewBag.Title</h1>
                <a class="btn btn-secondary ps-3 align-content-center" href="/filme/listar">
                    <i class="bi bi-arrow-return-left me-1"></i> Voltar
                </a>
            </div>

            <div class="list-group">
                <partial name="_Pattern" model="Model"></partial>
            </div>
        </div>
    </div>
</div>
