@using Controle_de_Cinema.Dominio.ModuloFilme
@model InserirFilmeViewModel
@{
    ViewBag.Tittle = "Cadastrar Filme";
}

<div class="container">
    <div class="col card m-5 p-4 gap-2 shadow bg-dark text-white rounded">
        <form class="d-grid gap-4" asp-action="inserir">
            <div class="mt-2">
                <label class="control-label fw-semibold">Nome:</label>
                <input class="form-control" type="text" asp-for="Nome" required min="2" max="100" />
            </div>
            <select class="custom-select" asp-for="Genero" required>
                @foreach (var genero in Enum.GetValues(typeof(EnumGeneros)))
                {
                    <option value="@genero">@genero</option>

                }
            </select>

            <div class="mt-2">
                <label class="control-label fw-semibold">Duração:</label>
                <input class="form-control" type="number" placeholder="Minutos" asp-for="Duracao" required />
            </div>

            <div class="mt-2 d-grid gap-2 d-md-block">
                <button class="btn btn-primary px-5" type="submit">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-secondary px-5" href="/sala/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>

    </div>
</div>