@model IngressoViewModel
@{
    Layout = "_Layout";
    ViewBag.Tittle = "Detalhamento do filme";
}
<div class="container">
    <div class="col card m-5 p-4 gap-2 shadow bg-dark text-white rounded">

        @*  ComboBox Seleção Assento *@
        <form class="d-grid gap-4" asp-action="inserir" method="post">

            <div class="mt-2">
                <label class="control-label fw-semibold">Filme:</label>
                <select class="custom-select d-flex" asp-for="Sala.Id" asp-items="Model.assentos" required> <!-- Talvez eseteja errado a logica-->
                    <option value="" disabled selected>Selecione um Assento</option>
                    <option></option>
                </select>
            </div>

           @*  CheckBox Meia Entrada *@
            <div class="mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="MeiaEntrada" id="meiaEntrada">
                    <label class="form-check-label fw-semibold" for="meiaEntrada">Meia Entrada</label>
                </div>
            </div>

            <div class="mt-2 d-grid gap-2 d-md-block">
                <button class="btn btn-primary px-5" type="submit">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Comprar Ingresso
                </button>

                <a class="btn btn-secondary px-5" href="/sessao/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>