@model DetalharPessoasViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Detalhamento de pessoa";
}

<div class="container bd-highlight">
    <div class="row">
        <div class="col card m-5 p-4 gap-2 shadow rounded bg-dark text-white">
            <div class="d-flex justify-content-between">
                <h1>@ViewBag.Title</h1>
                <a class="btn btn-secondary ps-3 align-content-center" href="/sala/listar">
                    <i class="bi bi-arrow-return-left me-1"></i> Voltar
                </a>
            </div>

            <div class="list-group">
                <div class="list-group-item list-group-item-action">
                    <div class="fw-bold">Id:</div> @Model.Id
                </div>
                <div class="list-group-item list-group-item-action">
                    <div class="fw-bold">Nome:</div> @Model.Nome
                </div>

            </div>
        </div>
    </div>
</div>
