@model EditarPessoasViewModel
@{
    ViewBag.Tittle = "Editar informações de pessoa";
}
<div class="container">
    <div class="col card m-5 p-4 gap-2 shadow bg-dark text-white rounded">
        <form class="d-grid gap-4" asp-action="inserir">
            <div class="mt-2">
                <label class="control-label fw-semibold">Nome:</label>
                <input class="form-control" type="text" asp-for="Nome" required min="3" max="200" />
            </div>

            <div class="mt-2">
                <label class="control-label fw-semibold">Cpf:</label>
                <input class="form-control" type="text" id="cpf" asp-for="Cpf" required />
            </div>

            <div class="mt-2 d-grid gap-2 d-md-block">
                <button class="btn btn-primary px-5" type="submit">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-secondary px-5" href="/pessoa/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#cpf").mask("000.000.000-00", { reverse: false });
        });
    </script>
}