@model ExcluirPessoasViewModel
@{
    ViewBag.Tittle = "Exclusão de pessoa";
}

<div class="container">
    <div class="col card m-5 p-4 gap-2 bg-light shadow bg-dark rounded">

        <div class="d-flex flex-column justify-content-center text-white">
            <label class="fs-5"><strong>Nome:</strong> @Model.Nome</label>

            <label><strong>Id:</strong> [@Model.Id]</label>
            <label><strong>Cpf:</strong> @Model.Cpf</label>

            <p class="text-bg-danger p-3 rounded fs-5 mt-2">
                Deseja realmente confirmar a exclusão? Não será possível recuperar os dados excluídos posteriormente.
            </p>

            <form class="mt-2 d-grid gap-2 d-md-block" asp-action="excluir">
                <button class="btn btn-danger px-5">
                    <i class="bi bi-trash-fill me-1"></i>
                    Excluir
                </button>

                <a class="btn btn-secondary px-5" href="/pessoa/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>

            </form>
        </div>
    </div>
</div>