@model IEnumerable<ListarSessaoViewModel>
@{
}
@if(Model is not null){
@foreach(var sessao in Model)
{
    <div id="filmeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@sessao.Filme.ImagemUrl" class="d-block w-100" alt="@sessao.Filme.Nome" style="height: 550px; object-fit: cover;  border: 2px solid white; border-radius: 15px;">
                <div class="carousel-caption d-none d-md-block text-white" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h5>@sessao.Filme.Nome</h5>
                    <p>@sessao.InicioSessao.ToShortTimeString()</p>
                    <a href="#" class="btn btn-danger">Saiba Mais</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#filmeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#filmeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    }

}
else
{
    <div class="d-flex justify-content-center text-secondary">

    <h2>Não há sessões disponíveis!</h2>
    </div>
}
