@model ListarSessaoViewModel
@{
    ViewBag.Title = "Gerenciamento de Cinema";


}

    <partial name="Carossel" model="Model"></partial>

    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/pt/d/d1/The_Dark_Knight.jpg" class="card-img-top" alt="Imagem do Card 1" style="height: 550px; object-fit: cover;">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">Batman: O Cavaleiro das Trevas</h5>
                    <p class="card-text">Batman enfrenta o Coringa, um novo inimigo que semeia o caos em Gotham.</p>
                    <a href="#" class="btn btn-danger">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://seliganerd.com/wp-content/uploads/maxresdefault-6-1.jpg" class="card-img-top" alt="Imagem do Card 2" style="height: 550px; object-fit: cover;">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">Velozes e Furiosos 11</h5>
                    <p class="card-text">Dom e sua equipe enfrentam novos desafios e inimigos em sua jornada de alta velocidade.</p>
                    <a href="#" class="btn btn-danger">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://www.claquete.com/fotos/filmes/poster/14754_grande.jpg" class="card-img-top" alt="Imagem do Card 3" style="height: 550px; object-fit: cover;">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">Barbie</h5>
                    <p class="card-text">A icônica boneca Barbie vive aventuras mágicas e inspiradoras no mundo real.</p>
                    <a href="#" class="btn btn-danger">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>