@model InserirFuncionarioViewModel
@{
}
<div id="foto" class="container d-flex justify-content-center align-items-center">
    <img src="https://imgb.ifunny.co/images/1a93c19f842f5c19a00cca5a7a72440b9eb88a17db381dfda72aae0f10ddeaae_1.webp" alt="Imagem Centralizada" class="img-fluid rounded border">
</div>