@model InserirFuncionarioViewModel
@{
}

<div id="foto" class="container d-flex justify-content-center align-items-center">
    <img src="https://media.licdn.com/dms/image/C4E22AQFQvNfy9AwRzA/feedshare-shrink_2048_1536/0/1576323789398?e=1725494400&v=beta&t=R-NwUrdwR0N-yPgwRTRJkikkiugoOkSWHGpKwVxX_ro" alt="Imagem Centralizada" class="img-fluid rounded border">
</div>
