@{
    ViewBag.Title = "Gerenciamento de Funcionários";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4">

            <div class="card bg-dark text-white">

                <div class="card-header" style="background-color: maroon;">
                    <h5 class="card-title">Gerenciar Funcionários</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Contratar" method="post">
                        <button type="submit" class="btn btn-success btn-block mb-3">Contratar Funcionário</button>
                    </form>
                    <form asp-action="Demitir" method="post">
                        <button type="submit" class="btn btn-danger btn-block mb-3">Demitir Funcionário</button>
                    </form>
                    <a class="btn btn-secondary btn-block" href="/sala/Listar">Listar Funcionários</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-white">
                <div class="card-header bg-primary">
                    <h5 class="card-title">Gereciar Cinema</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex mb-2">
                        <a class="btn btn-success flex-fill m-2" href="/sessao/inserir">
                            Nova Sessão
                        </a>
                        <a class="btn btn-primary flex-fill m-2" href="/sessao/listar">
                            Ver Sessões
                        </a>
                    </div>
                    <div class="d-flex mb-2">
                        <a class="btn btn-success flex-fill m-2" href="/sala/inserir">
                            Nova Sala
                        </a>
                        <a class="btn btn-primary flex-fill m-2" href="/sala/listar">
                            Ver Salas
                        </a>
                    </div>
                    <div class="d-flex mb-2">
                        <a class="btn btn-success flex-fill m-2" href="/pessoa/inserir">
                            Novo Cliente
                        </a>
                        <a class="btn btn-primary flex-fill m-2" href="/pessoa/listar">
                            Ver Clientes
                        </a>
                    </div>
                    <div class="d-flex mb-2">
                        <a class="btn btn-success flex-fill m-2" href="/filme/inserir">
                            Novo Filme
                        </a>
                        <a class="btn btn-primary flex-fill m-2" href="/filme/listar">
                            Ver Filmes
                        </a>
                    </div>
                    <a class="btn btn-danger d-flex mt-3 fs-2 justify-content-center" href="/sessao/listar">
                        Vender Ingressos
                    </a>
                    <a class="btn btn-danger d-flex mt-3 fs-2 justify-content-center" asp-action="logout">
                        logout
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<style>

</style>
