@model DetalharSessaoViewModel

<div class="list-group-item list-group-item-action">
    <div class="fw-bold">Id:</div> @Model.Id
</div>
<div class="list-group-item list-group-item-action">
    <div class="fw-bold">Filme:</div> @Model.Filme
</div>