@model InserirSessaoViewModel

@{
    Layout = "_Layout";
    ViewBag.Tittle = "Cadastrar Sessões";
}

<div class="container">
    <div class="col card m-5 p-4 gap-2 shadow bg-dark text-white rounded">

        <form id="form" class="d-grid gap-4" asp-action="inserir" method="post">

            <div class="mt-2">
                <label class="control-label fw-semibold">Filme:</label>

                <select class="custom-select d-flex" asp-for="IdFilme" asp-items="Model.filmes" required>

                    <option value="" disabled selected>Selecione um Filme</option>

                </select>
            </div>

            <div class="mt-2">
                <label class="control-label fw-semibold">Sala:</label>

                <select class="custom-select d-flex" asp-for="IdSala" asp-items="Model.salas" required>

                    <option value="" disabled selected> Selecione uma Sala</option>

                </select>
            </div>

            <div class="mt-2">
                <label class="control-label fw-semibold">Início da Sessão:</label>
                <input id="teste2" class="form-control" type="datetime-local" asp-for="InicioSessao" required />
            </div>

            <div class="mt-2">
                <label class="control-label fw-semibold">Fim da Sessão:</label>
                <input  class="form-control" type="datetime-local" asp-for="FimSessao" readonly value="@Model.FimSessaoCalculado" />
            </div>

            <div class="mt-2 d-grid gap-2 d-md-block">
                <button class="btn btn-primary px-5" type="submit">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-secondary px-5" href="/sessao/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>

    </div>
</div>