@model IEnumerable<AgrupamentoSessoesViewModel>
@{
    ViewBag.Tittle = "Listagem de Sessão";
    MensagemViewModel? mensagem = ViewBag.Mensagem ?? null;
}
<style>
    .btn-maroon {
        background-color: #80000084;
        color: white;
        transition: all .3s ease
    }

        .btn-maroon:hover {
            scale: 1.4;
            background-color: #800000;
            transition: all .3s ease
        }

    #card-hover {
        scale: 1;
        transition: all .1s ease;
        text-decoration: none;
        color: white;
        cursor: pointer
    }

        #card-hover:hover {
            scale: 1.1;
            transition: all .3s ease;
        }

    }
</style>

<div class="row gap-3 mt-3 p-2 d-flex justify-content-evenly">
    <partial name="_Mensagem" model="mensagem"></partial>
 
    <h1>Sessões</h1>

    <partial name="_agrupar" model="Model"></partial>
</div>
