@model VendaViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Venda de Ingresso";
}

<div class="container">
    <div class="col card m-5 p-4 gap-2 shadow bg-dark text-white rounded">
        <form method="post" action="@Url.Action("ConfirmarVenda")">
                <input type="hidden" asp-for="Id"  value="@Model.IdSessao.Id"/>

            <div class="mt-2">

                <label class="control-label fw-semibold">Assento:</label>
                <select class="custom-select d-flex" asp-for="ingresso.Id" asp-items="Model.Ingressos">
                    <option value="" disabled selected>Selecione um Assento</option>
                </select>
            </div>

            <div class="mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="MeiaEntrada" id="meiaEntrada">
                    <label class="form-check-label fw-semibold" for="meiaEntrada">Meia Entrada</label>
                </div>
            </div>

            <div class="mt-2 d-grid gap-2 d-md-block">
                <button class="btn btn-primary px-5" type="submit">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Comprar Ingresso
                </button>

                <a class="btn btn-secondary px-5" href="/sessao/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>
